.example-card {
    max-width: 660px;
    max-height: 600px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .material-icons{
    border: none;
  }
  mat-button{
    padding: 0px;
  }