a{
    cursor: pointer;
}


.example{
    width:40px;
    height:40px;
  
  /*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
     object-fit:scale-down;
}